<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		span:nth-child(1){
			color: orange;
		}
		span:nth-child(2){
			color: deepskyblue;
		}
		span:nth-child(3){
			color: deepskyblue;
		}
		span:nth-child(4){
			color: deepskyblue;

		}
		span:nth-child(5){
			color: deepskyblue;

		}
		span:nth-child(6){
			color: deepskyblue;
		}
		span:nth-child(7){
			color: deepskyblue;
		}
		span:nth-child(8){
			color: deepskyblue;
		}
	</style>
	
	<title>span</title>
</head>
<body>
	<h1>
		<span>J</span><span>S</span><span>P</span><span>I</span><span>D</span><span>E</span><span>R</span><span>S</span>
	</h1>

</body>
</html>